#main {
  width: 100vw;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numerical-data {
  border: solid rgba(80, 0, 150, 0.4) 2px;
  margin: 0.1rem;
  display: block;
}

.numerical-data label {
  margin: 1rem;
  display: block;
  font-family: sans-serif;
  position: relative;
}

.numerical-data input {
  left: 6.5rem;
  position: absolute;
  left: 6.5rem;
}

@media screen and (min-width: 48rem) {
  #main {
    width: 48rem;
  }

  .numerical-data {
    padding-left: 8rem;
  }
}
