#main {
  width: 100vw;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.data-box {
  margin: 0.2rem 0rem 0.2rem 0rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  width: 100%;
}

.data-box h3 {
  margin-right: 100%;
  margin-bottom: 0.3rem;
}

.data-box label {
  margin: 0.4rem 1rem 0.4rem 0.2rem;
  display: block;
  font-family: sans-serif;
  position: relative;
}

.run-prediction-button {
  font-size: 1.5rem;
  box-shadow: inset;
}

@media screen and (min-width: 48rem) {
  #main {
    width: 48rem;
    font-size: larger;
  }
}
